
*.txt
*.pyc
*.pyc
*.pyc
sentiment_analysis/__pycache__/settings.cpython-37.pyc
sentimentAnalysis/migrations/0019_auto_20190910_1018.py
*.txt
*.txt
.DS_Store
.DS_Store
*.sqlite3
*.log
*.sqlite3
sentimentAnalysis/migrations/0003_auto_20190910_0505.py
sentimentAnalysis/migrations/0004_auto_20190910_0807.py
sentimentAnalysis/migrations/0005_auto_20190910_0812.py
sentimentAnalysis/migrations/0006_auto_20190910_0817.py
ignore-migrations/
venv/
myvenv/
*.png
*.yml