.page-header {
    background-color: #1B3D6D;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 45pt;
    font-weight: 750;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.file-content {
  margin-right: 50px;
  margin-left: 50px;
}
.file-content h5{
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  'line-height:400%'
}

.tool-explanation table {
  border: 1px solid black;
}

.tools{
    margin-left: 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
