.page-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 95%;
  widows: 100%;
}

.title {
  color: #212121;
  font-weight: 200;
}

.subtitle {
  color: #757575;
  font-weight: 200;
}

.submit-btn {
  height: 80px;
  width: 640px;
  font-size: 45px;
  margin: 0px auto;
  padding: 10px;
  text-transform: none;
}

.more-info-btn {
  text-transform: none;
  color: #757575 !important;
  font-size: 16px;
  font-weight: 200;
}

footer {
  background-color: transparent !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center !important;
}
.mdl-dialog {
  width: 80%;
  text-align: center;
}
.login{
    color: gray;
}

.after{
  display:none;
}

.content{
  display:flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.file-content{
  display:flex;
  height: 10%;
  width: 60%;
  box-shadow: 2px 2px 2px 4px #EEEEEE; 
  font-size: 35px;
  align-items: center;
  justify-content: space-between;
}
.file-buttons{
  height: 8%;
  width: 61%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.file-button{
  height: 50px;
  width: 200px;
}
.material-icons{
  font-size: 0.85em;
}
.add-button{
  font-size: 2em !important;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload .upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

label[for="file"]{
  cursor:pointer;
  padding:20px;
}

input[type="file"]{
  display:none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}
