{% extends "base.html" %}
{% load static %}
{% load index %}
{{ List|index:x }}
{{ List|index:x|index:y }}

{% block content %}
<div class ="page-header" align= "center">
  <h1>Basic Page Result</h1>
  <h3>Surface Metrics</h3>
</div>
<form class ="naivgate" action="http://localhost:8000/basic/" method="post">
  {% csrf_token %}
  <table align="center" width="50%">
    <tr>
      <td align="center"><button type="submit" id="sentiment" name="sentiment">Sentiment Analysis</button> </td>
      <td align="center"><button type="submit" id="metric" name="metric">Surface Metric</button> </td>
    </tr>
  </table>
</form>
<div class="file" align="center">
  <form method="post" action="http://localhost:8000/basic/">
    {% csrf_token %}
    <h3>file name : <a id="id_uploaded_file" href="{text/test.txt}" download>{{form.name}}</a></h3>
    <br>
    <div class="file-content">
      <h5>
        {% for content in form.content%}
          {{content}}
        {% endfor %}
      </h5>
    </div>
    <br>
</div>
<h3 align="center">Vocabulary Size of Text : {{form.wordcounter}}</h3>
<div className="content-Analysis" align="center">
<h5>{{form.positiveString}}</h5>
<table width= "1700px">
    <td>
      <h3 align="center">Top Frequent Words 5</h3>
      <table width="450px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
    <tr>
      <th align="center" style="text-align:center;"> Ranking </th>
      <th align="center" style="text-align:center;"> Word</th>
    </tr>
      {% for word in form.topFrequentWords%}
        <tr>
          <td align= "center">{{forloop.counter}}</td>
          <td align= "center">{{word|index:0}}</td>
        </tr>
      {%endfor%}
    </table> </td>
    <td>
      <h3 align="center">Top Frequent Hashtags 5</h3>
      <table width="450px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
    <tr>
      <th align="center" style="text-align:center;"> Ranking </th>
      <th align="center" style="text-align:center;"> Hashtag</th>
    </tr>
      {% for hashtag in form.hashtag_frequent%}
        <tr>
          <td align= "center">{{forloop.counter}}</td>
          <td align= "center">{{hashtag|index:0}}</td>
        </tr>
      {%endfor%}
    </table> </td>
  <td> <img src="{% static "img/basic.png" %}" alt="My image"> </td>
</table>
{% endblock %}
