{% extends "base.html" %}
{% load static %}
{% load index %}
{{ List|index:x }}
{{ List|index:x|index:y }}


{% block content%}
  <div class ="page-header" align= "center">
    <h1>Expert Page Result</h1>
  </div>
  <div class="file" align="center">
    <form method="post" action="http://localhost:8000/result/">
      {% csrf_token %}
      <h3>file name : <a id="id_uploaded_file" href="{text/test.txt}" download>{{form.name}}</a></h3>
      <br>
      <div class="file-content">
        <h5>
          {% for content in form.content%}
            {{content}}
          {% endfor %}
        </h5>
      </div>
      <br>
  </div>
    <h3 align= "center">Show the Results</h3>
    <table width="700px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
    <tr>
      <th align="center" style="text-align:center;">File ID</th>
      {% for tool in form.tool%}
        <th align="center" style="text-align:center;">{{tool}}</th>
      {% endfor %}
    </tr>
      {% for id in form.ids%}
        <tr>
          <td align= "center">{{id}}</td>
          <td align= "center">{{form.vaderScores|index:forloop.counter0}} / {{form.vaderPolarity|index:forloop.counter0}}</td>
          <td align= "center">{{form.textblobScores|index:forloop.counter0}} / {{form.textblobPolarity|index:forloop.counter0}}</td>
        </tr>
      {%endfor%}
      <tr>
          <td align="center" style="border-collapse:collapse;">Download</td>
          {% for tool in form.tool%}
            <td align= "center"><button type="submit" name="spacy_button" value="spacy_button" class="btn btn-primary">download</button></td>
          {% endfor %}
      </tr>
    </table>
    <br>
    <div className="content-Analysis" align="center">
    <h5>{{form.positiveString}}</h5>
    <h5>Positive Vocabulary Size of Text : {{form.positiveWordcounter}}</h5>
    <h5>Positive Top Frequent Words 5 : {{form.positiveTopFrequentWords}}</h5>
    <img src="{% static "img/positive.png" %}" alt="My image">

    <h5>Negative Vocabulary Size of Text : {{form.negativeWordcounter}}</h5>
    <h5>Negative Top Frequent Words 5 : {{form.negativeTopFrequentWords}}</h5>
    <img src="{% static "img/negative.png" %}" alt="My image">
    <h5>Confusion Matrix</h5>
   <table style = "border-collapse:collapse; text-align: center;" >
     <tr>
       <th> </th>
       <th>Predicted: Positve</th>
       <th>Predicted: Negative</th>
     </tr>
     <tr>
     <td>Actual: Positve</td>
     {% for i in form.vaderConfusionMatrix%}
     <td>{{form.vaderConfusionMatrix|index:0|index:forloop.counter0}}</td>
     {% endfor %}
     </tr>
     <tr>
         <td>Actual: Negative</td>
         {% for i in form.vaderConfusionMatrix%}
         <td>{{form.vaderConfusionMatrix|index:1|index:forloop.counter0}}</td>
         {% endfor %}
     </tr>
   </table>
   <h5>
     Precise: {{form.vaderPrecise}}
     Recall: {{form.vaderRecall}}
   </h5>

   <table style = "border-collapse:collapse; text-align: center;" >
       <tr>
         <th> </th>
         <th>Predicted: Positve</th>
         <th>Predicted: Negative</th>
       </tr>
       <tr>
       <td>Actual: Positve</td>
       {% for i in form.ConfusionMatrix%}
       <td>{{form.textblobConfusionMatrix|index:0|index:forloop.counter0}}</td>
       {% endfor %}
       </tr>
       <tr>
           <td>Actual: Negative</td>
           {% for i in form.textblobConfusionMatrix%}
           <td>{{form.textblobConfusionMatrix|index:1|index:forloop.counter0}}</td>
           {% endfor %}
       </tr>
     </table>
     <h5>
         Precise: {{form.textblobPrecise}}
         Recall: {{form.textblobRecall}}
       </h5>

    </div>
    </form>
{% endblock %}
