{% extends "base.html" %}
{% load static %}
{% load index %}
{{ List|index:x }}
{{ List|index:x|index:y }}

{% block content%}
  <div class ="page-header" align= "center">
    <h1>Sentiment Analysis Result</h1>
  </div>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <button type="submit" id="matrix_button" name="sentiment">Confusion Matrix ▽</button>
      </div>
      <div class="card">
        <button type="submit" id="sentiment_button" name="sentiment">Sentiment Analysis Result ▽</button>
      </div>
      <div class="card">
        <button type="submit" id="entire_button" name="sentiment">Entire Contents Analysis ▽</button>
      </div>
      <div class="card">
        <button type="submit" id="positive_button" name="sentiment">Positive Group Analysis ▽</button>
      </div>
      <div class="card">
        <button type="submit" id="negative_button" name="sentiment">Negative Group Analysis ▽</button>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="cardGrey">
        <h3 align="center">Confusion Matrix</h3>
      </div>
      <div class="card" id="matrix_content">
        <table width= "1000px" align="center" border="1">
          <tr>
            <th> Tool </th>
            <th> F1-Score </th>
          </tr>
          {% for tool in form.sortedF1ScoreLists%}
            <tr>
              <td> {{tool.0}} </td>
              <td> {{tool.1}} </td>
            </tr>
          {% endfor%}
        </table>
      <table width= "1000px" align="center" border="1">
        <tr>
          <td>
            <h3 align="center">Vader</h3>
          </td>
          <td>
            <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="400px" align="center">
              <tr>
                <th> </th>
                <th>Predicted: Positve</th>
                <th>Predicted: Negative</th>
              </tr>
              <tr>
              <td>Actual: Positve</td>
              {% for i in form.vaderConfusionMatrix%}
              <td>{{form.vaderConfusionMatrix|index:0|index:forloop.counter0}}</td>
              {% endfor %}
              </tr>
              <tr>
                  <td>Actual: Negative</td>
                  {% for i in form.vaderConfusionMatrix%}
                  <td>{{form.vaderConfusionMatrix|index:1|index:forloop.counter0}}</td>
                  {% endfor %}
              </tr>
            </table>
          </td>
        <td>
          <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="25%" align="center">
            <tr>
              <h5 align="center"> Precise: {{form.vaderPrecise}} </h5>
            </tr>
            <tr>
              <h5 align="center"> Recall: {{form.vaderRecall}} </h5>
            </tr>
            <tr>
              <h5 align="center"> F1-score: {{form.vaderF1Score}} </h5>
            </tr>
          </table>
        </td>
        </tr>
        <tr>
          <td>
            <h3 align="center">TextBlob</h3>
          </td>
          <td>
            <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="400px" align="center">
              <tr>
                <th> </th>
                <th>Predicted: Positve</th>
                <th>Predicted: Negative</th>
              </tr>
              <tr>
              <td>Actual: Positve</td>
              {% for i in form.textblobConfusionMatrix%}
              <td>{{form.textblobConfusionMatrix|index:0|index:forloop.counter0}}</td>
              {% endfor %}
              </tr>
              <tr>
                  <td>Actual: Negative</td>
                  {% for i in form.textblobConfusionMatrix%}
                  <td>{{form.textblobConfusionMatrix|index:1|index:forloop.counter0}}</td>
                  {% endfor %}
              </tr>
            </table>
          </td>
        <td>
          <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="25%" align="center">
            <tr>
              <h5 align="center"> Precise: {{form.textblobPrecise}} </h5>
            </tr>
            <tr>
              <h5 align="center"> Recall: {{form.textblobRecall}} </h5>
            </tr>
            <tr>
              <h5 align="center"> F1-score: {{form.textblobF1Score}}  </h5>
            </tr>
          </table>
        </td>
        </tr>
        <tr>
          <td>
            <h3 align="center">stanford NLP</h3>
          </td>
          <td>
            <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="400px" align="center">
              <tr>
                <th> </th>
                <th>Predicted: Positve</th>
                <th>Predicted: Negative</th>
              </tr>
              <tr>
              <td>Actual: Positve</td>
              {% for i in form.stanfordNLPConfusionMatrix%}
              <td>{{form.stanfordNLPConfusionMatrix|index:0|index:forloop.counter0}}</td>
              {% endfor %}
              </tr>
              <tr>
                  <td>Actual: Negative</td>
                  {% for i in form.stanfordNLPConfusionMatrix%}
                  <td>{{form.stanfordNLPConfusionMatrix|index:1|index:forloop.counter0}}</td>
                  {% endfor %}
              </tr>
            </table>
          </td>
        <td>
        </td>
        </tr>
        <tr>
          <td>
            <h3 align="center">sentiWordnet</h3>
          </td>
          <td>
            <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="400px" align="center">
              <tr>
                <th> </th>
                <th>Predicted: Positve</th>
                <th>Predicted: Negative</th>
              </tr>
              <tr>
              <td>Actual: Positve</td>
              {% for i in form.sentiWordnetConfusionMatrix%}
              <td>{{form.sentiWordnetConfusionMatrix|index:0|index:forloop.counter0}}</td>
              {% endfor %}
              </tr>
              <tr>
                  <td>Actual: Negative</td>
                  {% for i in form.sentiWordnetConfusionMatrix%}
                  <td>{{form.sentiWordnetConfusionMatrix|index:1|index:forloop.counter0}}</td>
                  {% endfor %}
              </tr>
            </table>
          </td>
        <td>
          <table style = "border-collapse:collapse; text-align: center;" cellpadding="5" cellspacing="0" border="1" width="25%" align="center">
            <tr>
              <h5 align="center"> Precise: {{form.sentiWordnetPrecise}} </h5>
            </tr>
            <tr>
              <h5 align="center"> Recall: {{form.sentiWordnetRecall}} </h5>
            </tr>
            <tr>
              <h5 align="center"> F1-score: {{form.sentiWordnetF1Score}}  </h5>
            </tr>
          </table>
        </td>
        </tr>
      </table>
      <br/>
      </div>
        <div class="cardGrey">
          <h3 align="center">Tweet Level Sentiment Analysis</h3>
        </div>
      <div class="card" align="center" id="tweet_sentiment">
          <table width="1300px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
              <tr>
                  <td rowspan = "2" align= "center">tweet id</td>
                  <td colspan = "2" align= "center">vader</td>
                  <td colspan = "2" align= "center">textblob</td>
                  <td colspan = "1" align= "center">stanford NLP</td>
                  <td colspan = "2" align= "center">sentiWordnet</td>
                </tr>
                <tr>
                  <td align="center">score</td>
                  <td align="center">polarity</td>
                  <td align="center">score</td>
                  <td align="center">polarity</td>
                  <td align="center">polarity</td>
                  <td align="center">score</td>
                  <td align="center">polarity</td>
                </tr>
                {% for id in form.ids%}
                <tr>
                 <td>{{id}}</td>
                 <td align= "center">{{form.vaderScores|index:forloop.counter0}}</td>
                  {% if form.vaderPolarity|index:forloop.counter0 == "Positive" %}
                    <td align= "center"><font color="#47C83E">{{form.vaderPolarity|index:forloop.counter0}} </font></td>
                  {% endif %}
                  {% if form.vaderPolarity|index:forloop.counter0 == "Negative" %}
                    <td align= "center"><font color="#FF0000">{{form.vaderPolarity|index:forloop.counter0}} </font></td>
                  {% endif %}
                  {% if form.vaderPolarity|index:forloop.counter0 == "Neutral" %}
                    <td align= "center">{{form.vaderPolarity|index:forloop.counter0}}</td>
                  {% endif %}
                 <td align= "center">{{form.textblobScores|index:forloop.counter0}}</td>
                 {% if form.textblobPolarity|index:forloop.counter0 == "Positive" %}
                   <td align= "center"><font color="#47C83E">{{form.textblobPolarity|index:forloop.counter0}}</font></td>
                 {% endif %}
                 {% if form.textblobPolarity|index:forloop.counter0 == "Negative" %}
                   <td align= "center"><font color="#FF0000">{{form.textblobPolarity|index:forloop.counter0}}</font></td>
                 {% endif %}
                 {% if form.textblobPolarity|index:forloop.counter0 == "Neutral" %}
                   <td align= "center">{{form.textblobPolarity|index:forloop.counter0}}</td>
                 {% endif %}
                 {% if form.stanfordNLPPolarity|index:forloop.counter0 == "Positive" %}
                   <td align= "center"><font color="#47C83E">{{form.stanfordNLPPolarity|index:forloop.counter0}}</font></td>
                 {% endif %}
                 {% if form.stanfordNLPPolarity|index:forloop.counter0 == "Negative" %}
                   <td align= "center"><font color="#FF0000">{{form.stanfordNLPPolarity|index:forloop.counter0}}</font></td>
                 {% endif %}
                 {% if form.stanfordNLPPolarity|index:forloop.counter0 == "Neutral" %}
                   <td align= "center">{{form.stanfordNLPPolarity|index:forloop.counter0}}</td>
                 {% endif %}
                 <td align= "center">{{form.sentiWordnetScore|index:forloop.counter0}}</td>
                 {% if form.sentiWordnetPolarity|index:forloop.counter0 == "Positive" %}
                   <td align= "center"><font color="#47C83E">{{form.sentiWordnetPolarity|index:forloop.counter0}}</font></td>
                 {% endif %}
                 {% if form.sentiWordnetPolarity|index:forloop.counter0 == "Negative" %}
                   <td align= "center"><font color="#FF0000">{{form.sentiWordnetPolarity|index:forloop.counter0}}</font></td>
                 {% endif %}
                 {% if form.sentiWordnetPolarity|index:forloop.counter0 == "Neutral" %}
                   <td align= "center">{{form.sentiWordnetPolarity|index:forloop.counter0}}</td>
                 {% endif %}
                </tr>
                  {%endfor%}
              </table>
      </div>
      <div class="cardGrey" align="center">
        <h3 align="center">Vocabulary Size of Text : {{form.wordcounter}}</h3>
      </div>
      <div class="card" align="center">
        <div className="content-Analysis" align="center" id="entire_content">
        <table width= "1400px">
            <td>
              <h3 align="center">Top Frequent Words 5</h3>
              <table width="350px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
            <tr>
              <th align="center" style="text-align:center;"> Ranking </th>
              <th align="center" style="text-align:center;"> Word</th>
            </tr>
              {% for word in form.topFrequentWords%}
                <tr>
                  <td align= "center">{{forloop.counter}}</td>
                  <td align= "center">{{word|index:0}}</td>
                </tr>
              {%endfor%}
            </table> </td>
            <td>
              <h3 align="center">Top Frequent Hashtags 5</h3>
              <table width="350px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
            <tr>
              <th align="center" style="text-align:center;"> Ranking </th>
              <th align="center" style="text-align:center;"> Hashtag</th>
            </tr>
              {% for hashtag in form.hashtag_frequent%}
                <tr>
                  <td align= "center">{{forloop.counter}}</td>
                  <td align= "center">{{hashtag|index:0}}</td>
                </tr>
              {%endfor%}
            </table> </td>
          <td> <img src="{% static "img/basic.png" %}" alt="My image" width="600px"> </td>
        </table>
      </div>
      <div class="cardGrey" align="center">
        <h3 align="center">Positive Vocabulary Size of Text : {{form.positiveWordcounter}}</h3>
      </div>
      <div class="card" align="center" id="positive_content">
        <table width= "1400px">
            <td>
              <h3 align="center">Positive Top Frequent Words 5</h3>
              <table width="350px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
            <tr>
              <th align="center" style="text-align:center;"> Ranking </th>
              <th align="center" style="text-align:center;"> Word</th>
            </tr>
              {% for word in form.positiveTopFrequentWords%}
                <tr>
                  <td align= "center">{{forloop.counter}}</td>
                  <td align= "center">{{word|index:0}}</td>
                </tr>
              {%endfor%}
            </table> </td>
            <td>
              <h3 align="center">Top Frequent Hashtags 5</h3>
              <table width="350px"  cellpadding="5" cellspacing="0" border="1" align="center">
            <tr>
              <th align="center" style="text-align:center;"> Ranking </th>
              <th align="center" style="text-align:center;"> Hashtag</th>
            </tr>
              {% for hashtag in form.positiveTopFrequentHashtag%}
                <tr>
                  <td align= "center">{{forloop.counter}}</td>
                  <td align= "center">{{hashtag|index:0}}</td>
                </tr>
              {%endfor%}
            </table> </td>
          <td> <img src="{% static "img/positive.png" %}" alt="My image" width="600px"> </td>
        </table>
      </div>
      <div class="cardGrey" align="center">
        <h3 align="center">Negative Vocabulary Size of Text : {{form.negativeWordcounter}}</h3>
      </div>
      <div class="card" align="center" id="negative_content">
        <table width= "1400px">
            <td>
              <h3 align="center">Negative Top Frequent Words 5</h3>
              <table width="350px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
            <tr>
              <th align="center" style="text-align:center;"> Ranking </th>
              <th align="center" style="text-align:center;"> Word</th>
            </tr>
              {% for word in form.negativeTopFrequentWords%}
                <tr>
                  <td align= "center">{{forloop.counter}}</td>
                  <td align= "center">{{word|index:0}}</td>
                </tr>
              {%endfor%}
            </table> </td>
            <td>
              <h3 align="center">Top Frequent Hashtags 5</h3>
              <table width="350px"  cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
            <tr>
              <th align="center" style="text-align:center;"> Ranking </th>
              <th align="center" style="text-align:center;"> Hashtag</th>
            </tr>
              {% for hashtag in form.negativeTopFrequentHashtag%}
                <tr>
                  <td align= "center">{{forloop.counter}}</td>
                  <td align= "center">{{hashtag|index:0}}</td>
                </tr>
              {%endfor%}
            </table> </td>
          <td> <img src="{% static "img/negative.png" %}" alt="My image" width="600px"> </td>
        </table>
      </div>
      <form action="http://localhost:8000/expert/" method="post">
        {% csrf_token %}
        <div align="center">
          <button type="submit" name="download" value="download" class="btn btn-primary">Download Results </button>
        </div>
        <br/>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var isSentimentChecked=true;
      var isMatrixChecked=true;
      var isEntireChecked=true;
      var isPositiveChecked=true;
      var isNegativeChecked=true;
      $('#matrix_button').click(function(e) {
        if(isMatrixChecked) {
          $( "#tweet_sentiment" ).hide( "blind", 500 );
          isMatrixChecked=false;
        } else {
          $( "#tweet_sentiment" ).show( "blind", 500 );
          isMatrixChecked=true;
        }
      });
      $('#sentiment_button').click(function(e) {
        if(isMatrixChecked) {
          $( "#matrix_content" ).hide( "blind", 500 );
          isMatrixChecked=false;
        } else {
          $( "#matrix_content" ).show( "blind", 500 );
          isMatrixChecked=true;
        }
      });
      $('#entire_button').click(function(e) {
        if(isEntireChecked) {
          $( "#entire_content" ).hide( "blind", 500 );
          isEntireChecked=false;
        } else {
          $( "#entire_content" ).show( "blind", 500 );
          isEntireChecked=true;
        }
      });
      $('#positive_button').click(function(e) {
        if(isPositiveChecked) {
          $( "#positive_content" ).hide( "blind", 500 );
          isPositiveChecked=false;
        } else {
          $( "#positive_content" ).show( "blind", 500 );
          isPositiveChecked=true;
        }
      });
      $('#negative_button').click(function(e) {
        if(isNegativeChecked) {
          $( "#negative_content" ).hide( "blind", 500 );
          isNegativeChecked=false;
        } else {
          $( "#negative_content" ).show( "blind", 500 );
          isNegativeChecked=true;
        }
      });
    })
  </script>
{% endblock %}
