<html>
<head>
    <title>EasyAuth</title>   
</head>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyBqmDyUUQFtUizN1-3Fsdr5-0b7CfRYXlc",
    authDomain: "sentimentanalysis-997b4.firebaseapp.com",
    databaseURL: "https://sentimentanalysis-997b4.firebaseio.com",
    projectId: "sentimentanalysis-997b4",
    storageBucket: "sentimentanalysis-997b4.appspot.com",
    messagingSenderId: "386712053305",
    appId: "1:386712053305:web:8837eb760468e13d970fe8",
    measurementId: "G-B2LNH8BWNT"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

<body>
    <script>
        firebase.auth().onAuthStateChanged(function(user) {
            if(user) {
                document.body.innerHTML = '<h1> Congrats ' + user.displayName + ', you are done! </h1> <h2> Now get back to what you love building. </h2> <h2> Need to verify your email address?</h2>';
            }else{
                console.log("no user signed in");
            }
        }); 
    </script>
    <h1>Congrats</h1>
</body>
</html>