{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="page-header"align="center">
      <h1>Sentiment Analysis</h1>
  </div>
  <div className="description", align="center">
    <h3>Description</h3>
    <h5>This web application allows users to upload their text files, </h5>
    <h5> experiment with several commonly used sentiment anlaysis tools, get sentiment scores and compare their performances.</h5>
  </div>
  <div align="center">
    <table width="700px">
          <tr>
            <th>
          <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
          </th>
          <th>
            <h3>choose the tools</h3>
            <div class="tools-checkbox"></div>
              NLTK : <input type='checkbox' name='nltk' value='nltk' checked/>       <br>
              Spacy : <input type='checkbox' name='spacy' value='spacy' checked/>       <br>
              Scikit : <input type='checkbox' name='scikit' value='scikit' checked/>       <br>
              R : <input type='checkbox' name='r' value='r' checked/>       <br>
              Bag of Words : <input type='checkbox' name='bagOfWords' value='bagOfWords' checked/>       <br>
            </div>
          </th>
          </tr>
          </table>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <div className="alert alert-success" role="alert">
      {{ message }}
      </div>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  <div class="tool-explanation">
    
  </div>
{% endblock %}
