{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang='en'>
  <head>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Sentiment Analysis Tools</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        {% if user.username != ""%}
        <span class="mdl-layout-title">Hello {{ user.username }}!</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">HOME</a>
          <a class="mdl-navigation__link" href="">Request</a>
          <a class="mdl-navigation__link" href="{% url 'logout_view' %}" href="">Logout</a>
        </nav>
        {% else %}
        <span class="mdl-layout-title">Account</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">HOME</a>
          <a class="mdl-navigation__link" href="">Request</a>
          <a class="mdl-navigation__link" href="{% url 'signIn' %}">LogIn</a>
        </nav>
        {% endif %}
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
            <h1>SELECT FILE TO ANALYZE</h1>
            <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <h6>    Request Id: </h6>
                <input name = "request_id" id = "request_id">
            <h6>    Request Owner: </h6>
                <input  name="request_owner" id="request_owner">
              <div class="before" id ="before">
                <h4>SELECT OR DRAG & DROP FILES TO CONVERT</h4>
                  <label for = file class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored submit-btn select">
                      Choose the file
                  </label>
                  <div class="hide">
                      <input type="file" name ="file" id="file" class = "upload">
                  </div>
              </div>
                <script>
                    $(document).ready(function(){
                        $('input[type="file"]').change(function(e){
                            var fileName = e.target.files[0].name;
                          $( "#before" ).hide();
                          $( "h3.file-name").text(fileName);
                          $( "#after" ).show();
                        });
                    });
                </script>
              <!--file selection result-->
              <div class="after" id="after" style="display: none;">
                <div class="content">
                    <div class="file-content">
                      <h3 class ="file-name"><i class="material-icons">attach_file</i></h3>
                      <h6>7.56MB <button class="mdl-button mdl-js-button" disabled>x</button></h6>
                    </div>
                    <br>
                    <div class="file-buttons">
                      <button class="mdl-button mdl-js-button mdl-button--primary ">
                          <i class="material-icons add-button">add_box</i>
                          Choose another file
                      </button>
                      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored  file-button" >
                          Submit
                      </button>
                  </div>
                </div>
              </div>
          </form>
          <br>
          <a class="login" href="">Want to save the project?</a>
        </div>
        <dialog class="mdl-dialog">
            <h3 class="mdl-dialog__title">About</h3>
            <h4>What is Sentiment Analysis</h4>
            <p>This web application allows users to upload their text files, experiment with several
                commonly used sentiment analysis tools, get sentiment scores and compare their performances
            </p>
            <br><br>
            <h4>About Tools for NLP</h4>
            <br>
            <h5>VADER</h5>
            <p>
            VADER(Valence Aware Dictionary and Sentiment Reasoner) is a lexicon and rule -based 
            sentiment analysis tool that is specifically attuned to sentiments expressed in social media.
            </p>
            <h5>Textblob</h5>
            <p>TextBlob provides NLP tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, and more.</p>
            <h5>StanfordNLP</h5>
            <p>StanfordNLP probide statistical NLP, deep learning NLP, and ruld-based NLP tools for major computational linguistics problems. which can be incorporated into applications with human language.</p>
            <h5>SentiWordNet</h5>
            <p>SentiWordNEt is a lexical resource explicitly devised for supporting sentiment classification and opinion mining applications.</p>
            <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button close">Close</button>
            </div>
          </dialog>
      </main>
      <footer class="mdl-mini-footer">
        <button id="show-dialog" type="button" class="mdl-button">
          More information
        </button>
      </footer>
      <script>
          var dialog = document.querySelector('dialog');
          var showDialogButton = document.querySelector('#show-dialog');
          if (! dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
          }
          showDialogButton.addEventListener('click', function() {
            dialog.showModal();
          });
          dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
          });
        </script>
    </div>
  </body>
</html>
{% endblock %}
