
<html lang='en'>
  <head>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_performance.css' %}">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Sentiment Analysis Tools</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="performance-table">
            <table class="mdl-data-table mdl-js-data-table table">
                <thead>
                  <tr>
                    <th>Tool Name</th>
                    <th>Overall</th>
                    <th>Positive</th>
                    <th>Neutral</th>
                    <th>Negative</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>VADER</td>
                    {% if performance.vaderF1score  == performance.f1score_max%}
                    <td style = "color: green;">{{ performance.vaderF1score }}</td>
                    {% else %}
                    <td >{{ performance.vaderF1score }}</td>
                    {% endif %}

                    {% if performance.vader_pos_f1score  == performance.pos_f1score_max%}
                    <td style = "color: green;">{{ performance.vader_pos_f1score }}</td>
                    {% else %}
                    <td >{{ performance.vader_pos_f1score }}</td>
                    {% endif %}

                    {% if performance.vader_neu_f1score  == performance.neu_f1score_max%}
                    <td style = "color: green;">{{ performance.vader_neu_f1score }}</td>
                    {% else %}
                    <td >{{ performance.vader_neu_f1score }}</td>
                    {% endif %}

                    {% if performance.vader_neg_f1score  == performance.neg_f1score_max%}
                    <td style = "color: green;">{{ performance.vader_neg_f1score }}</td>
                    {% else %}
                    <td >{{ performance.vader_neg_f1score }}</td>
                    {% endif %}
                  </tr>

                  <tr>
                    <td>Textblob</td>
                    {% if performance.textblobF1score  == performance.f1score_max%}
                    <td style = "color: green;">{{ performance.textblobF1score }}</td>
                    {% else %}
                    <td >{{ performance.textblobF1score }}</td>
                    {% endif %}

                    {% if performance.textblob_pos_f1score  == performance.pos_f1score_max%}
                    <td style = "color: green;">{{ performance.textblob_pos_f1score }}</td>
                    {% else %}
                    <td >{{ performance.textblob_pos_f1score }}</td>
                    {% endif %}

                    {% if performance.textblob_neu_f1score  == performance.neu_f1score_max%}
                    <td style = "color: green;">{{ performance.textblob_neu_f1score }}</td>
                    {% else %}
                    <td >{{ performance.textblob_neu_f1score }}</td>
                    {% endif %}

                    {% if performance.textblob_neg_f1score  == performance.neg_f1score_max%}
                    <td style = "color: green;">{{ performance.textblob_neg_f1score }}</td>
                    {% else %}
                    <td >{{ performance.textblob_neg_f1score }}</td>
                    {% endif %}
                  </tr>

                  <tr>
                    <td>StanfordNLP</td>
                    {% if performance.stanfordNLPF1score  == performance.f1score_max%}
                    <td style = "color: green;">{{ performance.stanfordNLPF1score }}</td>
                    {% else %}
                    <td >{{ performance.stanfordNLPF1score }}</td>
                    {% endif %}

                    {% if performance.stanfordNLP_pos_f1score  == performance.pos_f1score_max%}
                    <td style = "color: green;">{{ performance.stanfordNLP_pos_f1score }}</td>
                    {% else %}
                    <td >{{ performance.stanfordNLP_pos_f1score }}</td>
                    {% endif %}

                    {% if performance.stanfordNLP_neu_f1score  == performance.neu_f1score_max%}
                    <td style = "color: green;">{{ performance.stanfordNLP_neu_f1score }}</td>
                    {% else %}
                    <td >{{ performance.stanfordNLP_neu_f1score }}</td>
                    {% endif %}

                    {% if performance.stanfordNLP_neg_f1score  == performance.neg_f1score_max%}
                    <td style = "color: green;">{{ performance.stanfordNLP_neg_f1score }}</td>
                    {% else %}
                    <td >{{ performance.stanfordNLP_neg_f1score }}</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>SentiWordNet</td>
                    {% if performance.sentiWordF1score  == performance.f1score_max%}
                    <td style = "color: green;">{{ performance.sentiWordF1score }}</td>
                    {% else %}
                    <td >{{ performance.sentiWordF1score }}</td>
                    {% endif %}

                    {% if performance.sentiWord_pos_f1score  == performance.pos_f1score_max%}
                    <td style = "color: green;">{{ performance.sentiWord_pos_f1score }}</td>
                    {% else %}
                    <td >{{ performance.sentiWord_pos_f1score }}</td>
                    {% endif %}

                    {% if performance.sentiWord_neu_f1score  == performance.neu_f1score_max%}
                    <td style = "color: green;">{{ performance.sentiWord_neu_f1score }}</td>
                    {% else %}
                    <td >{{ performance.sentiWord_neu_f1score }}</td>
                    {% endif %}

                    {% if performance.sentiWord_neg_f1score  == performance.neg_f1score_max%}
                    <td style = "color: green;">{{ performance.sentiWord_neg_f1score }}</td>
                    {% else %}
                    <td >{{ performance.sentiWord_neg_f1score }}</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
  </body>
</html>
