
<html lang='en'>
    <head>
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Sentiment Analysis Tools</span>
            <div class="mdl-layout-spacer"></div>
          </div>
        </header>
        <main class = "mdl-layout__content">    
            <div class = "mdl-tabs mdl-js-tabs">
               <div class = "mdl-tabs__tab-bar tab-bar">
                  <a href = "#tab1-panel" class = "mdl-tabs__tab is-active">Overall</a>
                  <a href = "#tab2-panel" class = "mdl-tabs__tab">Positive</a>
                  <a href = "#tab3-panel" class = "mdl-tabs__tab">Negative</a>
               </div>
            
               <div class = "mdl-tabs__panel is-active" id = "tab1-panel">
                  <div class="cards-container">
                      <div class="page-content">
                          <h4 class = "title"> Tweet Detail Anaylsis</h4>
                          <span class = "title-description"> You can check the detailed analysis results of the tweeters that completed the emotional analysis. </span>                          
                          <div class="tweets-container">
                            <div class="panel">
                                <details>   
                                    <summary>
                                      <div class="tweet">
                                      <div class= "tweet-content">
                                          "To increase #HPV vaccination rates, it is most effective to engage both the family and the clinician.“….
                                      </div>
                                      <div class="annotation">
                                          <div class='polarity_button'>annotation</div>
                                      </div>
                                      <p class="kappa-score">0.33</p>
                                    </div>
                                    </summary>
                                    <div class="content">
                                        <table>
                                            <thead>
                                              <tr>
                                                <th >Full Tweet Content</th>
                                                <th>Vader</th>
                                                <th>Textblob</th>
                                                <th>StanfordNLP</th>
                                                <th>SentiWordNet</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td class = "full-tweet-content">To increase #HPV vaccination rates, it is most effective to engage both the family and the clinician.” This is so awful.</td>
                                                <td> <div class='polarity_button'>positive</div> 0.33 </td>
                                                <td><div class='polarity_button'>annotation</div> 0.33</td>
                                                <td><div class='polarity_button'>annotation</div> 0.33 </td>
                                                <td><div class='polarity_button'>annotation</div> 0.33 </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <br>
                                          <table>
                                              <thead>
                                                <tr>
                                                  <th>Sentence Tweet Content</th>
                                                  <th>Vader</th>
                                                  <th>Textblob</th>
                                                  <th>StanfordNLP</th>
                                                  <th>SentiWordNet</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td class = "full-tweet-content">To increase #HPV vaccination rates, it is most effective to engage both the family and the clinician.” </td>
                                                  <td> <div class='polarity_button'>positive</div></td>
                                                  <td><div class='polarity_button'>annotation</div></td>
                                                  <td><div class='polarity_button'>annotation</div></td>
                                                  <td><div class='polarity_button'>annotation</div></td>
                                                </tr>
                                              </tbody>
                                              
                                              <tbody>
                                                  <tr>
                                                    <td class = "full-tweet-content">This is so awful.</td>
                                                    <td> <div class='polarity_button'>positive</div></td>
                                                    <td><div class='polarity_button'>annotation</div></td>
                                                    <td><div class='polarity_button'>annotation</div></td>
                                                    <td><div class='polarity_button'>annotation</div></td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </details>
                            </div>
                        </div>
                      </div>    
               </div>

           </div>
            
               <div class = "mdl-tabs__panel" id = "tab2-panel">
                <div class="card">
                  <h6 class = "card-title">wordcloud</h6>
                  <img src = "img/word_could.JPG">
              </div>  
               </div>
            
               <div class = "mdl-tabs__panel" id = "tab3-panel">
                <div class="card">
                  <h6 class = "card-title">wordcloud</h6>
                  <img src = "img/word_could.JPG">
              </div>  
               </div>
            </div>
         </main>
    </body>
  </html>
  



